# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
*.o
*~
*.srv
*.cmd

objects

results.xml
doxydoc



VSidoConnServer

prebuild/opencv/bin/
prebuild/opencv/include/
prebuild/opencv/lib/
prebuild/opencv/share/
package/

VSidoConn4Edison.tar.gz
